* text=auto

*.json               text diff=json
*.yaml               text eol=lf diff linguist-detectable=true
*.yml                text eol=lf diff linguist-detectable=true

*.gitattributes      text
.gitignore           text

.gitattributes       export-ignore
.gitignore           export-ignore
.gitkeep             export-ignore

*.xml                text eol=lf diff linguist-detectable=true
*.md                 linguist-detectable=true

*.js                 text
*.ts                 text diff=typescript
*.jsx                text
*.tsx                text diff=typescript

*.html               text
*.xml                text eol=lf diff

*.png                binary
*.svg                binary
*.ico                binary
*.jpg                binary
*.jpeg               binary
*.webp               binary


*.txt                text

*.css                text diff=css

Dockerfile           text eol=lf
